html {
  font-size: 18px;
}

body {
  padding: 1rem 3rem;
}

h1, h2, h3, ol, ul {
  margin: 0.25rem 0;
}

ul {
  list-style-type: '⦾  ';
}

li {
  text-align: start;
}

button {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button.link {
  background-color: transparent;
  border: none;
  padding: 0;
}

button.link:hover {
  text-decoration: underline;
}

button.symbol {
  padding: 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

button.symbol.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.75rem;
  min-height: 1.75rem;
}

button.symbol.icon img {
  max-height: 1.25rem;
}

button.destroy:not(.symbol), button.back:not(.symbol) {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

button.update-status.update-status {
  min-height: 2rem;
  min-width: 2rem;
  border: 1px solid black;
  border-radius: 50%;
}

button.update-status.update-status:disabled {
  border: 1px solid gray;
}

button.update-status.update-status img {
  max-height: 1.5rem;
}

.status-1, .status-1 button {
  color: gray;
}

.disabled {
  color: gray;
}

.enabled.enabled, .enabled.enabled button {
  color: black;
}

.hidden {
  display: none !important;
}
