html {
  font-size: 18px;
}

body {
  padding: 1rem 3rem;
}

h1, h2, h3 {
  margin: 0.25rem 0;
}

ul {
  list-style-type: '⦾  ';
}

button {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button.link {
  background-color: transparent;
  border: none;
  padding: 0;
}

button.link:hover {
  text-decoration: underline;
}

button.symbol {
  padding: 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

button.destroy {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.hidden {
  display: none;
}

/* Move to more appropriate location*/
.update-status {
  min-height: 28px;
  min-width: 28px;
}
