@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 1 999;
}

:root {
  --site-font: 'Manrope', sans-serif;
  --font-color: black;
  --background-color: #4ec5c1;
  --dark-background-color: #006965;
  --secondary-color: #d0ff61;
  --dark-secondary-color: #a9f100;
  --green-color: #c2ffa1;
  --orange-color: #ffeb69;
  --yellow-color: #fcff42;
  --red-color: #e24e42;
  --dark-red-color: #b00e00;
  --disabled-color: gray;
  --light-disabled-color: lightgray;
  --very-light-disabled-color: #eeeeee;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--site-font);
  color: var(--font-color);
}

body > * {
  padding: 1rem 3rem;
}

h1, h2, h3, ol, ul {
  margin: 0.25rem 0;
}

ul {
  list-style-type: '⦾  ';
}

ul, ol {
  overflow: hidden;
}

li {
  text-align: start;
}

button {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--font-color);
  border-radius: 0.2rem;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

button:hover {
  background-color: var(--dark-secondary-color);
}

button.link {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: start;
}

button.link:hover {
  background-color: transparent;
  text-decoration: underline;
}

button.symbol {
  padding: 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

button.symbol.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.75rem;
  min-height: 1.75rem;
}

button.symbol.icon img {
  max-height: 1.25rem;
}

button.destroy:not(:disabled) {
  background-color: var(--red-color);
  color: white;
}

button.destroy:not(:disabled):hover {
  background-color: var(--dark-red-color);
}

button.destroy:not(.symbol), button.back:not(.symbol) {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

button.update-priority,
button.update-status {
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--dark-background-color);
}

button.update-priority:not(:disabled):hover,
button.update-status:not(:disabled):hover {
  outline: 1px solid var(--dark-background-color);
}

button.update-status.update-status {
  min-height: 2rem;
  min-width: 2rem;
}

button.update-status.update-status img {
  max-height: 1.5rem;
}

.priority-0 {
  background-color: var(--green-color);
}

.priority-1 {
  background-color: var(--orange-color);
}

.priority-2 {
  background-color: var(--yellow-color);
}

.status-1, .status-1 button {
  color: var(--disabled-color);
}

.disabled, button:disabled:disabled {
  color: var(--disabled-color);
}

button:disabled:hover {
  cursor: auto;
  text-decoration: none;
}

button:not(.link):disabled,
button:not(.link):disabled:hover {
  background-color: var(--light-disabled-color);
}

.enabled.enabled, .enabled button {
  color: var(--font-color);
}

.hidden {
  display: none !important;
}

@media (max-width: 540px) {
  html {
    font-size: 16px;
  }

  body > * {
    padding: 1rem;
  }
}
