.edit-attribute-form {
  display: flex;
  gap: 0.5rem;
}

.edit-attribute-form input {
  background-color: transparent;
  min-width: 0;
  border: none;
  outline: none;
  border-bottom: 1px black dashed;
  padding: 0;
}

.edit-attribute-form input:focus {
  border-bottom: 1px black solid;
}
