.edit-attribute {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45vw;
}

.edit-attribute.separate {
  display: block;
  font-size: 0.9rem;
  color: var(--dark-background-color);
}

.edit-attribute-form {
  max-width: 90vw;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  column-gap: 0.5rem;
}

.edit-attribute-form.click-out {
  align-items: end;
}

.edit-attribute-form:not(.click-out) {
  align-items: center;
}

.edit-attribute-form.click-out:not(.with-label) {
  grid-template-columns: repeat(2, max-content);
}

.edit-attribute-form.click-out.with-label,
.edit-attribute-form:not(.click-out,.with-label) {
  grid-template-columns: repeat(3, max-content);
}

.edit-attribute-form:not(.click-out).with-label {
  grid-template-columns: repeat(4, max-content);
}

.edit-attribute-form.textarea.textarea {
  grid-template-columns: 1fr;
  justify-items: start;
  row-gap: 0.5rem;
}

.edit-attribute-form input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px black dashed;
  padding: 0;
  height: max-content;
}

.edit-attribute-form input:focus {
  border-bottom: 1px black solid;
}

.edit-attribute-form.textarea textarea {
  justify-self: stretch;
}

.edit-attribute-form .submit {
  justify-self: start;
}

.edit-attribute-form.textarea .submit {
  justify-self: center;
  padding: 0.5rem 3rem;
}

.edit-attribute-form .error {
  grid-row: 2;
  font-size: 1rem;
}

.edit-attribute-form.click-out:not(.with-label) .error {
  grid-column: 1 / span 2;
}

.edit-attribute-form.click-out.with-label .error,
.edit-attribute-form:not(.click-out,.with-label) .error {
  grid-column: 2 / span 2;
}

.edit-attribute-form:not(.click-out).with-label .error {
  grid-column: 3 / span 2;
}

.edit-belong-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-belong-form .submit {
  padding: 0.25rem 1rem;
}

@media (max-width: 740px) {
  .edit-attribute {
    max-width: 35vw;
  }

  .edit-attribute-form.click-out input {
    max-width: 30vw;
  }
}

@media (max-width: 540px) {
  .edit-attribute {
    max-width: 65vw;
  }

  .edit-attribute-form.click-out input {
    max-width: 80vw;
  }

  .edit-attribute-form .error {
    font-size: 0.8rem;
  }

  .edit-attribute-form:not(.click-out, .with-label),
  .edit-attribute-form:not(.click-out).with-label {
    justify-self: stretch;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .edit-attribute-form:not(.click-out, .with-label) button:not(.link),
  .edit-attribute-form:not(.click-out).with-label button:not(.link) {
    justify-self: stretch;
  }

  .edit-belong-form {
    justify-self: stretch;
    flex-direction: column;
    align-items: stretch;
  }
}
