input:not([type="checkbox"],[type="radio"]),textarea,select {
  font-size: 1rem;
  padding: 0.25rem;
  min-width: 15rem;
}

textarea {
  min-height: 5rem;
}

.error {
  margin: 0;
  color: var(--dark-red-color);
}

@media (max-width: 740px) {
  input:not([type="checkbox"], [type="radio"]), textarea, select {
    min-width: 0;
  }
}
