.intro {
  background-color: var(--background-color);
  padding: 1rem 0 0;
  border-bottom: 1px solid var(--font-color);
}

.intro-heading {
  background-color: var(--secondary-color);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  padding: 1rem 3rem;
}

.intro-heading h2 {
  font-size: 1.25rem;
}

.intro .new[data-type="todoItem"] {
  display: block;
  margin: 2rem auto;
  padding: 1rem 1.5rem; 
  font-size: 1.25rem;
  min-width: 15rem;
}

.projects-heading {
  display: grid;
  grid-template: repeat(2, max-content) / max-content 1fr;
  justify-items: start;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.project {
  border: none;
  box-shadow: 0 0 5px var(--font-color);
  margin: 0.5rem auto 1.5rem;
  min-width: 65vw;
  min-height: 9rem;
  display: grid;
  grid-template: 1fr 2fr / 1fr max-content;
  justify-items: start;
  align-items: center;
}

.project h3 {
  font-size: 1.25rem;
}

.project-preview {
  grid-row: 2;
  line-height: 2;
}

.project-preview.status-1 {
  font-style: italic;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--font-color);
  justify-self: center;
  align-self: start;
}
