.todo-item {
  background-color: lightgray;
  border-radius: 0.2rem;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.todo-item-heading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.todo-item-heading *,
.todo-item-heading input {
  font-size: 1.25rem;
}
