.project-intro {
  background-color: var(--background-color);
  padding: 1rem 0;
  border-bottom: 1px solid var(--font-color);
}

.project-intro .index {
  margin-left: 3rem;
}

.project-heading {
  background-color: var(--secondary-color);
  border-top: 5px solid white;
  border-bottom: 5px solid var(--font-color);
  padding: 1rem 3rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.project-heading * {
  font-size: 1.75rem;
}

.project-heading .edit-attribute {
  font-weight: 700;
}

.project-heading.project-heading input {
  font-size: 1.5rem;
  border-bottom: 2px black dashed;
}

.project-heading.project-heading input:focus {
  border-bottom: 2px black solid;
}

.project-heading .submit.submit {
  background-color: var(--light-background-color);
  min-width: 2rem;
  min-height: 2rem;
}

.project-heading .submit:hover {
  background-color: var(--dark-background-color);
}

.project-heading .submit.submit img {
  max-height: 1.5rem;
}

.todo-items-heading {
  display: grid;
  grid-template: repeat(2, max-content) / max-content 1fr;
  justify-items: start;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 0;
}

.todo-items-heading .new-form-wrapper {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding-top: 0;
  justify-self: center;
}
