.todo-item {
  border-radius: 0.2rem;
  box-shadow: 0 0 5px var(--font-color);
  padding: 1rem 1rem 1rem 1.5rem;
  margin: 0 auto 1.5rem;
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: start;
  align-items: start;
  gap: 1rem;
}

.todo-item-heading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.todo-item-heading *,
.todo-item-heading input {
  font-size: 1.25rem;
}

.todo-item.status-1 {
  background-color: var(--light-disabled-color);
}

.todo-item > *:not(.destroy[data-type="todoItem"]) {
  grid-column: 1;
}

.todo-item > .edit-attribute-form.textarea {
  grid-column: 1 / span 2;
  justify-self: stretch;
}

.todo-item > .destroy[data-type="todoItem"] {
  grid-row: 1;
  grid-column: 2;
}

.todo-item .priority {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
