.checklist-item:not(.field) {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  align-items: center;
  gap: 0.5rem;
}

.checklist-item:not(.field) .update-status {
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.checklist-item:not(.field) .update-status img {
  max-height: 1.25rem;
}

.checklist-item:not(.field) .destroy {
  justify-self: end;
}
